body {
    font-family: Arial, sans-serif;
    background-color: #35495e;
    color: #fff;
    margin: 0;
}

.container {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #42b883;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #ff7e67;
}

form input[type="text"],
form select,
form textarea {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    margin-left: 25px;
    background-color: #42b883;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #347474;
}

.message{
    background-color: #35495e;
    margin-left: 25px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    transition: background-color 0.3s;
}