<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Document</title>
</head>
<body >
    <p>Welcome! Create a request or show logs</p>
    <div class="hpcontainer">
        <div class="c1">
            <button onclick="createRequest()">Create Blood Request</button>
        </div>
        <div class="c2">
            <button onclick="bloodFound()">Show logs</button>
        </div>
    </div>
    <script>
        function createRequest() {
            window.location.href = "/createRequest"; 
        }

        function bloodFound() {
            window.location.href = "/bloodFound";
        }
    </script>
</body>
</html>